---
title:
date: Last Modified
pathCss: '/_css/main.css'
pathJs: '/_js/ui.js'
---
<!DOCTYPE html>
<html>

<head>
    <title>{{ title }} | K&eacute;ita A. Y.</title>
    {% include "header.html" %}
</head>

<body>
    {% include "loading.html" %}
    <!--
        Remove spaces between curly braces and percent signs,
        then uncomment the line below to re-enable the navbar.
        { % include "navbar.html" % }
    -->
    {% include "gototop.html" %}
    <main>
        {{ content | safe }}
        <div id="footer"><!--dummy element to allow navigation skip--></div>
    </main>
    {% include "footer.html" %}
</body>

</html>