---
layout: base.html
---
<div class="slide yokoso" id="pgtop" style="background-image:url('{{ imageHero | url }}')">
    <div class="article-summary">
        <div>{% include "goback.html" %}</div>
        <p style="margin-top:1.5em; margin-bottom:0.6em;"><i style="font-weight:200; letter-spacing:0.1em">{{ dateProj }}{% if location %} - {{ location }}{% endif %}</i></p>
        <h1 style="margin-bottom:0.3em">{{ subject }}</h1>
        <hr>
        <p>{{ summary }}</p>
    </div>
    {% include "godown.html" %}
</div>
<div class="content" id="service" style="padding:10vh 5vw">
    <div id="summary" class="content-section" style="max-width:700px">
        <h2>{{ title }}</h2>
        <p>{{ brief }}</p>
        <br><!--this break is needed for mobile rendering-->
    </div>
    <div class="content-section" style="max-width:400px">
        {% if taskList %}
        <h3 class="sansserif" style="font-weight:bolder; font-size:1.4em">My Responsibilities</h3>
        <ul>
            {% for task in taskList %}
            <li>{{ task }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if techList %}
        <h3 class="sansserif" style="font-weight:bolder; font-size:1.4em">Tools Used</h3>
        <ul>
            {% for tech in techList %}
            <li>{{ tech }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if accoladeList %}
        <h3 class="sansserif" style="font-weight:bolder; font-size:1.4em">Accolades</h3>
        <ul>
            {% for accolade in accoladeList %}
            <li>{{ accolade }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if linkLive %}
        <br>
        <a class="bigbutton" href="{{ linkLive | url }}" style="font-size:1.5em">
            See it Live!
        </a>
        {% endif %}
    </div>
</div>
<div class="article">
    {{ content | safe }}
    <div style="margin:7em 0;">
        {% if datePub %}
        <p style="font-size:0.9em">
            <b>Published:</b> {{ datePub }}
        </p>
        {% endif %}
        {% if tags %}
        <p style="font-size:0.9em">
            <b>Tags: </b>
            {% for tag in tags %}
            <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>
<div class="tiles" id="more">
    <div style="width:100%; padding:0 2.5%">
        <h2 style="font-weight:bolder">See Related Cases</h2>
        <p>
            Curious about how I approach similar challenges? Here are some other case studies with overlapping themes, skills,
            or tools.
        </p>
    </div>
    {% set relatedCases = collections['Case Study'] | exclude | relatedCases(page.url, tags, 5) %}
    {% for case in relatedCases %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144;background-image:url('{{ case.data.imageHero | url }}')">
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
    {% include "gotoallcases.html" %}
</div>