/* define global variables */
/* control fonts */
:not(.serif) {
  font-family: "Anek Latin", "Verdana", "Arial", sans-serif;
  font-weight: 300;
  font-variation-settings: "wght" 300;
}

.serif {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-variation-settings: "wght" 450;
  /* @supports (font-variation-settings: "param" 100) {} */
}

/* global */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(36, 42, 52);
}

main {
  position: relative;
  z-index: 1;
  background-color: #eeeeee;
  color: rgb(36, 42, 52);
}

a:not(.noFX):not(.tile):not(.navurl):not(.bigbutton):not(.content-slideThru) {
  text-decoration: none;
  color: rgb(255, 168, 34);
  background: linear-gradient(to right, transparent 50.05%, #d6545a 50.05%);
  background-size: 201%;
  background-position: 0 0;
  transition: 500ms ease;
}
a:not(.noFX):not(.tile):not(.navurl):not(.bigbutton):not(.content-slideThru):hover, a:not(.noFX):not(.tile):not(.navurl):not(.bigbutton):not(.content-slideThru):focus {
  background-position: -99% 0;
  color: #eeeeee;
}

a.navurl {
  text-decoration: none;
  color: #eeeeee;
  background: linear-gradient(to right, transparent 50%, #eeeeee 50%);
  background-size: 200%;
  background-position: 0 0;
  transition: 500ms ease;
}
a.navurl:hover, a.navurl:focus {
  background-position: -100% 0;
  color: rgb(36, 42, 52);
}

/* text sizes */
h1,
h2,
h3,
.hsub,
.htert {
  margin: 0;
  line-height: 89%;
  text-transform: none;
}

h1 {
  font-size: calc(3rem + (3 - 1.5) * (100vw - 25px) / (90 - 25));
}

h2,
.hsub {
  font-size: calc(2rem + (2 - 1.3) * (100vw - 25px) / (90 - 25));
}

h3,
.htert {
  font-size: calc(1.5rem + (1.5 - 1.15) * (100vw - 25px) / (90 - 25));
}

.hsub:not(.serif),
.htert:not(.serif) {
  letter-spacing: 0.05em;
}

p {
  font-size: 1.3em;
}

/* language change */
.changeLang {
  text-decoration: none;
  font-weight: 300;
  color: rgb(36, 42, 52);
}

/* UI: cross-component definitions */
.UIbutton {
  display: inline-block;
  position: fixed;
  cursor: pointer;
  height: 1.6em;
  width: 1.6em;
  left: calc(100vw - 2 * 1.4em);
  /* "left" used to avoid shift due to scroll bar */
  border-radius: 0.8em;
  font-size: 1.6em;
  line-height: 1.6em;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(238, 238, 238, 0.5);
  color: rgba(36, 42, 52, 0.5);
  transition: background-color 500ms ease, color 500ms ease;
}
.UIbutton:hover, .UIbutton:focus {
  background-color: darkorange;
  color: white;
}

/* UI: navbar */
.navOverlay {
  transition: all 1s;
}
.navOverlay input[type=checkbox] {
  display: none;
}
.navOverlay .navMenu {
  /* .navMenu contains the entire overlay screen for the nav menu */
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 700;
  opacity: 1;
  transition: visibility 200ms ease, opacity 200ms ease;
  background-color: rgba(36, 42, 52, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navOverlay .navMenu .navWindow {
  /* .navWindows contains the actual navigation sidebar */
  display: block;
  position: fixed;
  right: 0;
  padding: 3em 2vw 2vw 2vw;
  height: calc(100vh - 3em);
  width: calc(80vw - 2 * 2vw);
  overflow-x: hidden;
  background-color: rgb(36, 42, 52);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.navOverlay .navMenu .navWindow .opt,
.navOverlay .navMenu .navWindow .navExt {
  padding: 0;
  width: 100%;
  text-decoration: none;
}
.navOverlay .navMenu .navWindow .opt {
  /* .opt denotes navigation options */
  display: block;
  margin: 1vh 0;
  font-size: 1.5em;
}
.navOverlay .navMenu .navWindow .navHead,
.navOverlay .navMenu .navWindow .navMain,
.navOverlay .navMenu .navWindow .navExt {
  width: calc(100% - 3 * 2vw);
}
.navOverlay .navMenu .navWindow .navHead {
  min-height: 3em;
}
.navOverlay .navMenu .navWindow .navMain {
  overflow-y: auto;
  height: calc(100% - navHeightBgn - 2.5em);
}

.navButton {
  top: 1.4em;
  z-index: 900;
}
.navButton .navOpen {
  display: none;
}
.navButton .navClosed {
  display: inline-block;
}

/* UI: menu toggled off; based on workaround by Morgan Feeney, via codepen.io/morganfeeney/pen/KiBty */
input[type=checkbox]:not(:checked) ~ .navMenu {
  visibility: hidden;
  opacity: 0;
}

input[type=checkbox]:checked ~ .navButton .navOpen {
  display: inline;
}
input[type=checkbox]:checked ~ .navButton .navClosed {
  display: none;
}

/* UI: return to top of page */
.returnToPgtop {
  top: calc(2 * 1.4em + 1.6em);
  z-index: 600;
}

/* regular content: slideshow-like (keep values unitless since vanilla CSS cannot do dimensional analysis) */
ul,
ol {
  padding-inline-start: 1.5em;
}

.slide,
.content {
  position: relative;
  margin: 0;
  padding: 20vh 5vw 5vh 5vw;
  min-height: 75vh;
  scroll-snap-align: start;
  background-color: #eeeeee;
  background: center/cover no-repeat fixed;
}
.slide .goDown,
.content .goDown {
  font-size: 2em;
  text-align: center;
  margin: 5% 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 50vw;
  animation: bounceVert 2s infinite;
}
@keyframes bounceVert {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(2vh);
  }
  60% {
    transform: translateY(1vh);
  }
}
.slide .bigbutton,
.content .bigbutton {
  text-decoration: none;
  font-size: 2em;
  padding: 0.3em;
  margin: 3vh 0;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  color: rgb(36, 42, 52);
  background: linear-gradient(to right, #ffa822 50.01%, #d6545a 50.01%);
  background-size: 201%;
  background-position: 0 0;
  transition: 500ms ease;
}
.slide .bigbutton:hover, .slide .bigbutton:focus,
.content .bigbutton:hover,
.content .bigbutton:focus {
  background-position: -99% 0;
  color: #eeeeee;
}
.slide p,
.content p {
  padding-top: 2vh;
}

.content {
  display: flex;
  z-index: 400;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 0;
}
.content .content-section {
  width: 100%;
}
.content .content-section .content-part {
  padding: 5% 2.5%;
}
.content .content-sectionSticky {
  z-index: 600;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color: #eeeeee;
}
.content .content-slideThru {
  display: flex;
  align-items: start;
  min-height: 100vh;
  color: #eeeeee;
  background-color: rgb(36, 42, 52);
  background-attachment: fixed;
}
.content .content-slideThru .content-slideThru-text {
  padding: 1em;
  margin-top: 25vh;
  width: 100%;
  -webkit-backdrop-filter: blur(5px) brightness(0.3);
          backdrop-filter: blur(5px) brightness(0.3);
  border-radius: 0.5em;
}
.content .content-sectionNoPadMobile {
  padding: 0;
}
.content hr {
  max-width: 20em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.slide0 {
  background-color: #132736;
  color: #eeeeee;
}

.slide1 {
  background-color: rgb(255, 168, 34);
  color: rgb(36, 42, 52);
}

.slide2 {
  background-color: rgb(37, 77, 108);
  color: #eeeeee;
}

.slide3 {
  background-color: rgb(101, 180, 149);
  color: rgb(36, 42, 52);
}

.slide4 {
  background-color: rgb(214, 84, 90);
  color: #eeeeee;
}

.slide5 {
  background-color: rgb(132, 74, 117);
  color: #eeeeee;
}

/* Tiles allow for visual previews of portfolio entries and articles */
.tiles {
  display: flex;
  padding: 2em 0;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
}
.tiles .tile {
  flex-grow: 0;
  flex-basis: 100vw;
  margin: 2vw;
  min-height: 26vw;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: center/cover no-repeat;
  transition: all 300ms ease;
}
.tiles .tile:hover, .tiles .tile:focus {
  transform: scale(1.02, 1.02);
}

.tile-overlay {
  margin: 0;
  padding: 2vw;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.8) 100%);
}

.artPrelude {
  margin: 0;
  font-size: 1em;
  font-weight: 200;
  font-variant: small-caps;
}

.artTagline {
  margin: 0;
  font-size: 1.7em;
}

.artAbstract {
  font-weight: 200;
}

.buttonGoBack {
  background: rgba(36, 42, 52, 0.5);
  border: 0.5px solid #eeeeee;
  border-radius: 2em;
  margin-bottom: 1em;
  font-size: 2em;
  color: #eeeeee;
  cursor: pointer;
}

/* Articles are "full" versions of tiles. It's preceded by "summaries" that render within a "slide". */
.slide .article-summary {
  padding: 1em;
  margin: 1em;
  max-width: 1000px;
  color: #eeeeee;
  background-color: rgba(30, 30, 30, 0.8);
}
.slide .article-summary p {
  padding: 0;
  font-size: 1.5em;
}
.slide .article-summary .article-summary-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 3vh;
}
.slide .article-summary .article-summary-tags .article-summary-tag {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 7px;
  border: 1px solid rgba(238, 238, 238, 0.5);
  color: rgba(238, 238, 238, 0.5);
}

.article {
  padding: 1em;
  margin: auto;
}
.article h1,
.article h2,
.article h3 {
  margin-block: 0.5em 0.5em;
}
.article h1 {
  font-size: calc(1.5em + (3 - 1.5) * (100vw - 25px) / (90 - 25));
}
.article h2 {
  font-size: calc(1.3em + (2 - 1.3) * (100vw - 25px) / (90 - 25));
}
.article h3 {
  font-size: calc(1.15em + (2 - 1.3) * (100vw - 25px) / (90 - 25));
}
.article pre {
  padding: 1em;
  background-color: #e0e0e0;
}

/* Any of the above elements may contain additional widgets  */
.accordion {
  border-left: 0.1rem solid #eeeeee;
  padding-left: 0.3em;
  margin: 0.5em 0;
}
.accordion .accordion-title:hover,
.accordion .accordion-title:focus {
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  position: sticky;
  min-height: 50vh;
  width: 100%;
  bottom: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  z-index: 0;
  color: #eeeeee;
}
footer a {
  color: #eeeeee;
  text-decoration: none;
}
footer .footpodL,
footer .footpodR {
  padding: 2em;
  min-height: 20vh;
  flex-grow: 0;
  flex-basis: 600px;
  font-size: 1.2em;
  font-weight: 300;
}
footer .copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* general forms, including the "contact me" form */
form label {
  font-size: 0.9rem;
}
form textarea,
form select {
  resize: none;
  font-size: 1rem;
}
form select,
form input[type=text],
form [type=email] {
  font-size: 1.2rem;
}
form input.formerror,
form textarea.formerror {
  border: 2px red solid;
}
form label,
form input,
form textarea,
form select,
form select option {
  width: 90%;
  border: 0;
  margin: 0;
  font-family: "Anek Latin", "Verdana", "Arial", sans-serif;
}
form input,
form textarea,
form select {
  background-color: #f8f8f8;
}
form button {
  font-size: 1.2rem;
  padding: 0.5em;
  border: 2px solid rgb(101, 180, 149);
  border-radius: 5px;
  background-color: #eeeeee;
  color: rgb(101, 180, 149);
  cursor: pointer;
  transition: all 300ms ease;
  background: linear-gradient(to right, transparent 50%, #65b495 50%);
  background-size: 200%;
  background-position: 0 0;
  transition: 500ms ease;
}
form button:hover, form button:focus {
  background-position: -100% 0;
  color: #eeeeee;
}

/* responsive to variable screen sizes */
@media (orientation: landscape) and (min-width: 600px) {
  .navOverlay .navMenu .navWindow {
    width: calc(400px - 2 * 2vw);
  }
  .tiles .tile {
    flex-basis: 26vw;
  }
  .article {
    width: 600px;
  }
  .slide .goDown,
  .content .goDown {
    visibility: visible;
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  .opt {
    padding: 3vw 5vw;
    font-size: medium;
  }
  .yokoso p :not(.article-summary) {
    max-width: 50vw;
  }
  .content:has(.content-section + .content-section) .content-section {
    width: 50vw;
  }
  /* the "multiple-sections" class is only injected by JavaScript if the "has" selector doesn't work */
  .content.multiple-sections .content-section {
    width: 50vw;
  }
  .content-section.content-sectionNoPadMobile {
    padding: inherit;
  }
}/*# sourceMappingURL=main.css.map */