---
layout: base.html
title: All Cases
---
<section class="tiles" id="pgtop">
    <div style="width:100%; padding:0 2.5%">
        {% include "goback.html" %}
        <h1 class="serif">K&eacute;ita's Prior Cases</h1>
        <p>
            This page lists all of K&eacute;ita's prior projects. To view a specific case study, click on the tile below.
        </p>
    </div>
    {% for case in collections['Case Study'] | exclude %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144;background-image:url('{{ case.data.imageHero | url }}')">
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.roles[0] }}: {{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
</section>