---
layout: base.html
title: All Cases
description: Case studies from Kéita Yokoyama's work across biomedical engineering, consulting, and more.
---
<section class="tiles" id="pgtop">
    {%- set visibleCases = collections['Case Study'] | exclude -%}
    <div style="width:100%; padding:0 2.5%">
        <h1 class="serif">K&eacute;ita's Prior Cases</h1>
        <p>
            {% if visibleCases.length > 0 %}
            This page lists all of K&eacute;ita's prior projects. To view a specific case study, click on the tile below.
            {% else %}
            New case studies are in progress and will be posted here soon.
            {% endif %}
        </p>
    </div>
    {% for case in visibleCases %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144">
        <img src="{{ case.data.imageHero | url }}" class="bg-img" alt="" loading="lazy" {% if case.data.imageHero | isSvg %}eleventy:ignore{% endif %} />
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
    {% if visibleCases.length > 0 %}
    <a class="tile" id="random-case-btn" href="#" style="background-color:#111144">
        <img src="/cases/img/placeholder-hero.svg" class="bg-img" alt="" loading="lazy" eleventy:ignore />
        <div class="tile-overlay">
            <div class="artPrelude">But&nbsp;wait, there's&nbsp;more!</div>
            <div class="artTagline">Click&nbsp;here to&nbsp;view a random case&nbsp;study.</div>
        </div>
    </a>
    <script id="case-urls" type="application/json">
        [
            {% for case in visibleCases %}
                "{{ case.url | url }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    </script>
    <script src="/_js/random-case.js"></script>
    {% endif %}
</section>