---
layout: base.html
title: Designer
---
<div class="slide slide4 yokoso" id="pgtop">
    <h1 class="serif" style="font-weight:lighter; font-size:5em">
        K&eacute;ita the designer subverts traditions to form enduring relationships.
    </h1>
    <p style="font-size:1.5rem; max-width:700px">
        With&nbsp;my self-taught skills&nbsp;in 3D&nbsp;modeling and&nbsp;graphic design,
        I&nbsp;enable people and&nbsp;organizations to&nbsp;connect with the&nbsp;world&nbsp;around&nbsp;them.
    </p>
    {% include "godown.html" %}
</div>
<div class="content" id="service" style="padding:10vh 5vw">
    <div class="content-section content-sectionSticky">
        <h2 class="serif">Impress Right Off the Bat.</h2>
        <p>
            Text&nbsp;blah blah blah.
        </p>
    </div>
    <div class="content-section">
        accordions go here I guess
    </div>
</div>
<div class="tiles" id="cases">
    <div style="width:100%; padding:0 2.5%">
        <h2 class="serif">All Design Projects</h2>
    </div>
    {% for case in collections.cases | getRole('Designer') %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144;background-image:url('{{ case.data.imageHero | url }}')">
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
</div>