---
layout: base.html
title: Home
---
<section class="slide slide0 yokoso" id="pgtop">
    <h1 class="serif" style="font-size:5em">
        K&eacute;ita Yokoyama<br>engineers solutions.
    </h1>
    <p style="font-size:1.5rem; max-width:700px">
        I&nbsp;unify&nbsp;people across cultures and&nbsp;professions, drive&nbsp;growth,
        and&nbsp;solve complex&nbsp;problems in&nbsp;healthcare, business&nbsp;strategy, and&nbsp;design.
    </p>
    <br>
    <a class="bigbutton" href="mailto:hello@keitaay.com">Let's Chat!</a>
    {% include "godown.html" %}
</section>
<div id="aboutme" class="content">
    <div class="content-section content-sectionSticky">
        <div class="content-part">
            <h2 class="serif">Who is K&eacute;ita?</h2>
            <p>
                I'm&nbsp;a&nbsp;creator of&nbsp;businesses, experiences, and&nbsp;solutions that&nbsp;unify
                communities, disrupt the&nbsp;status&nbsp;quo, and&nbsp;empower people&nbsp;to&nbsp;thrive.
            </p>
            <p>
                I&nbsp;revel&nbsp;in addressing undermet&nbsp;needs in&nbsp;healthcare and&nbsp;society
                with thoughtful&nbsp;people across multiple&nbsp;disciplines. I&nbsp;do&nbsp;so
                by wearing&nbsp;several&nbsp;hats:
            </p>
        </div>
    </div>
    <div class="content-section">
        <section id="engineer" class="content-part content-slideThru" style="background-image:url('/cases/img/wwa_massage.jpg');">
            <div class="content-slideThru-text">
                <h3 class="serif">A versatile bioengineer by training.</h3>
                <p>
                    As a PhD candidate in Biomedical Engineering, I develop new technologies to enhance the human condition. I enable clinicians and patients to access new dimensions of information.
                </p>
                <p>
                    <a href="{{ '/engineer' | url }}" style="padding:0 0.25em">
                        View my engineering work. {% include "goto.html" %}
                    </a>
                </p>
            </div>
        </section>
        <section id="strategist" class="content-part content-slideThru">
            <div class="content-slideThru-text">
                <h3 class="serif">A resourceful strategist by calling.</h3>
                <p>
                    When new technologies are born, I want to ensure they truly reach the people who need them, with every stakeholder on board. I empower organizations with the knowledge and processes to survive and thrive.
                </p>
                <p>
                    <a href="{{ '/strategist' | url }}" style="padding:0 0.25em">
                        View my strategy consultant work. {% include "goto.html" %}
                    </a>
                </p>
            </div>
        </section>
        <section id="designer" class="content-part content-slideThru">
            <div class="content-slideThru-text">
                <h3 class="serif">A practical designer by passion.</h3>
                <p>
                    As a self-taught digital artist, I create interfaces and environments that are accessible and intuitive. I create digital media to help communicate, connect, and impress.
                </p>
                <p>
                    <a href="{{ '/designer' | url }}" style="padding:0 0.25em">
                        View my designing work. {% include "goto.html" %}
                    </a>
                </p>
            </div>
        </section>
        <section id="citizen" class="content-part content-slideThru">
            <div class="content-slideThru-text">
                <h3 class="serif">A thoughtful citizen by duty.</h3>
                <p>
                    It is each of our duties to create the world we want to live in. I adhere to this mission by being involved in a variety of policy issues related to social equity and quality of life.
                </p>
                <p>
                    <a href="{{ '/citizen' | url }}" style="padding:0 0.25em">
                        View my activism and civic work. {% include "goto.html" %}
                    </a>
                </p>
            </div>
        </section>
    </div>
</div>
<section class="tiles" id="featured">
    <div style="width:100%; padding:0 2.5%">
        <h2 class="serif">Featured Work</h2>
    </div>
    {% for case in collections.Featured | exclude | limit(8) %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144;background-image:url('{{ case.data.imageHero | url }}')">
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.roles[0] }}: {{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
    {% include "gotoallcases.html" %}
</section>