---
layout: base.html
title: Home
description: I help life science companies turn early-stage science into scalable strategy, and translate technical complexity into ideas people can act on.
---
<section class="slide yokoso" id="pgtop" style="background-color: #132736; color:#eee; position:relative;">
    {% include "waves.html" %}
    <h1>
        K&eacute;ita Yokoyama<br>engineers solutions.
    </h1>
    <p class="hero-lead">
        I&nbsp;help life&#8209;science companies turn early&#8209;stage science into&nbsp;scalable strategy, and&nbsp;turn technical complexity into&nbsp;ideas people can act&nbsp;on.
    </p>
    <br>
    <a class="bigbutton" href="#footer">Let's Chat!</a>
    {% include "godown.html" %}
</section>
<div id="aboutme" class="content">
    <div class="content-section content-sectionSticky">
        <div class="content-part">
            <h2 style="padding-top:0">Who is K&eacute;ita?</h2>
            <p style="margin-bottom:0">
                At&nbsp;my&nbsp;core, I'm&nbsp;an <mark>interpreter -&nbsp;of&nbsp;languages, systems, and&nbsp;ideas.</mark></p>
            <p style="margin:0">
                I've&nbsp;lived and&nbsp;worked between cultures for my&nbsp;entire life, moving fluently between technical and&nbsp;non-technical worlds, local and&nbsp;global perspectives, and&nbsp;analytical and&nbsp;creative&nbsp;thinking.
            </p>
            <p style="margin:0">
                For&nbsp;over {{ 2015 | yearsSince }}&nbsp;years, I've&nbsp;thrived on&nbsp;uncovering what's hidden, making&nbsp;it understandable, and&nbsp;turning&nbsp;it into&nbsp;action. My&nbsp;work aims to&nbsp;build connections, challenge the&nbsp;status quo, and&nbsp;empower communities to&nbsp;thrive.
            </p>
        </div>
    </div>
    <div class="content-section">
        <section id="bme" class="content-part content-slideThru">
            <div class="content-slideThru-text">
                <h3>I help to show more medical problems, sooner.</h3>
                <p>
                    With my PhD in Biomedical Engineering, I've developed new ultrasound-based imaging techniques to detect disease earlier and guide better care. I've collaborated with physicians, engineers, and scientists to turn abstract research questions into working technologies.
                </p>
                <!--
                NOTE: commented out since my BME work is, as of now, more of a background and source of legitimacy than an active career focus.
                <div class="sectionCta">
                    <a class="bigbutton" href="#footer">Learn&nbsp;more&nbsp;&rarr;</a>
                </div>
                -->
                <div class="banners">
                    {%- set caseBme = collections['Case Study'] | exclude | getOneExample("Biomedical Engineering") -%}
                    {% if caseBme.data %}
                    <a class="banner" href="{{ caseBme.url | url }}"
                        style="background-color:#111144">
                        <img src="{{ caseBme.data.imageHero | url }}" class="bg-img" alt="" />
                        <div class="banner-overlay">
                            <div class="artPrelude">Featured Case</div>
                            <div class="artTagline">{{ caseBme.data.title }}</div>
                            <div class="artPrelude">{{ caseBme.data.summary }}</div>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </section>
        <section id="strategy" class="content-part content-slideThru">
            <div class="content-slideThru-text">
                <h3>I bring innovations to the people who need them.</h3>
                <p>
                    Breakthroughs don't matter if they never leave the lab. Through consulting and strategy projects, I help innovators understand their markets, refine their offerings, and create the partnerships needed to scale.
                </p>
                <div class="sectionCta">
                    <a class="bigbutton" href="#footer">Discuss&nbsp;your&nbsp;challenges&nbsp;&rarr;</a>
                </div>
                <div class="banners">
                    {%- set caseInnov = collections['Case Study'] | exclude | getOneExample("Strategy") -%}
                    {% if caseInnov.data %}
                    <a class="banner" href="{{ caseInnov.url | url }}"
                        style="background-color:#111144">
                        <img src="{{ caseInnov.data.imageHero | url }}" class="bg-img" alt="" />
                        <div class="banner-overlay">
                            <div class="artPrelude">Featured Case</div>
                            <div class="artTagline">{{ caseInnov.data.title }}</div>
                            <div class="artPrelude">{{ caseInnov.data.summary }}</div>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </section>
        <section id="connections" class="content-part content-slideThru">
            <div class="content-slideThru-text">
                <h3>I make complex ideas clear, engaging, and actionable.</h3>
                <p>
                    I design institutions and deliver communication strategies that bridge knowledge gaps, align stakeholders, and drive decision-making. This work spans public-facing science communication, civic organizing, and strategic facilitation.
                </p>
                <div class="sectionCta">
                    <a class="bigbutton" href="#footer">Let's&nbsp;discuss&nbsp;&rarr;</a>
                </div>
                <div class="banners">
                    {%- set caseConx = collections['Case Study'] | exclude | getOneExample("Connections") -%}
                    {% if caseConx.data %}
                    <a class="banner" href="{{ caseConx.url | url }}"
                        style="background-color:#111144">
                        <img src="{{ caseConx.data.imageHero | url }}" class="bg-img" alt="" />
                        <div class="banner-overlay">
                            <div class="artPrelude">Featured Case</div>
                            <div class="artTagline">{{ caseConx.data.title }}</div>
                            <div class="artPrelude">{{ caseConx.data.summary }}</div>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</div>
<section class="tiles" id="featured">
    <div style="width:100%; padding:0 2.5%">
        <h2>Featured Work</h2>
    </div>
    {% for case in collections.Featured | exclude | limit(8) %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144;background-image:url('{{ case.data.imageHero | url }}')">
        <img src="{{ case.data.imageHero | url }}" class="bg-img" alt="" />
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
    {% include "gotoallcases.html" %}
</section>