---
layout: base.html
title: Interpreter
---
<div class="slide slide3 yokoso" id="pgtop">
    <h1 class="serif" style="font-weight:lighter; font-size:5em">
        K&eacute;ita the interpreter transcends boundaries to deepen human connections.
    </h1>
    <p style="font-size:1.5rem; max-width:700px">
        Born in America but raised by Japanese immigrants, I am experienced in bridging cultural divides to connect and
        empower people in sensitive situations.
    </p>
    {% include "godown.html" %}
</div>
<div id="aboutme" class="content">
    <div class="content-section content-sectionSticky">
        <h2 class="serif">Who is K&eacute;ita?</h2>
        <p>
            Text&nbsp;blah blah blah.
        </p>
    </div>
    <div class="content-section">
        <div>
            <h3 class="serif">
                Ph.D., Biomedical Engineering<br>
                <span style="font-size:0.8em; font-weight:lighter">
                    Ongoing: University of North Carolina at Chapel Hill and North Carolina State University
                </span>
            </h3>
            <p>
                short text
            </p>
        </div>
        <br>
        <div>
            <h3 class="serif">
                B.S., Biomedical Engineering<br>
                <span style="font-size:0.8em; font-weight:lighter">
                    2018: University of North Carolina at Chapel Hill and North Carolina State University
                </span>
            </h3>
            <p>
                short text
            </p>
        </div>
        <br>
        <div>
            <h3 class="serif">
                Study Abroad, Biochemistry<br>
                <span style="font-size:0.8em; font-weight:lighter">
                    2016: Universit&eacute; Grenoble-Alpes
                </span>
            </h3>
            <p>
                short text
            </p>
        </div>
    </div>
</div>
<div class="tiles" id="cases">
    <div style="width:100%; padding:0 2.5%">
        <h2 class="serif">All Interpreting Projects</h2>
    </div>
    {% for case in collections.cases | getRole('Interpreter') %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144;background-image:url('{{ case.data.imageHero | url }}')">
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
</div>