---
layout: base.html
title: Strategist
---
<div class="slide slide1 yokoso" id="pgtop">
    <h1 class="serif" style="font-weight:lighter; font-size:5em">
        K&eacute;ita the strategist transcends silos to chart new directions.
    </h1>
    <p style="font-size:1.5rem; max-width:700px">
        By&nbsp;demistifying the&nbsp;connection between regulations, innovations, and&nbsp;values,
        I&nbsp;help organizations survive and&nbsp;thrive in highly-regulated markets.
    </p>
    {% include "godown.html" %}
</div>
<div class="content" id="service" style="padding:10vh 5vw">
    <div class="content-section content-sectionSticky">
        <h2 class="serif">Start off on the right foot.</h2>
        <p>
            Text&nbsp;blah blah blah.
        </p>
    </div>
    <div class="content-section">
        accordions go here I guess
    </div>
</div>
<div class="tiles" id="cases">
    <div style="width:100%; padding:0 2.5%">
        <h2 class="serif">All Consulting Projects</h2>
    </div>
    {% for case in collections.cases | getRole('Strategist') %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144;background-image:url('{{ case.data.imageHero | url }}')">
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
</div>