---
layout: base.html
title: Strategist
---
<div class="slide slide1 yokoso" id="pgtop">
    <h1 class="serif" style="font-size:5em">
        K&eacute;ita the strategist transcends silos to chart new directions.
    </h1>
    <p style="font-size:1.5rem; max-width:700px">
        By&nbsp;demistifying the&nbsp;connection between regulations, innovations, and&nbsp;values,
        I&nbsp;help organizations survive and&nbsp;thrive in highly-regulated markets.
    </p>
    {% include "godown.html" %}
</div>
<div class="content" id="service" style="padding:10vh 10%">
    <div class="content-section">
        <h2 class="serif">Start off on the right foot.</h2>
        <p>
            I clarify startups' understandings of their situations, and
            strengthen their ideas to become ready for the real world.
        </p>
        <div class="accordion">
            <div class="accordion-tab">
                <input id="array1opt1" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array1opt1" class="accordion-tab-label">Analyzing Assumptions and Stress Testing
                    Strategies</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
            <div class="accordion-tab">
                <input id="array1opt2" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array1opt2" class="accordion-tab-label">Ideating and Prioritizing Ideas</label>
                <div class="accordion-tab-content">
                    text

                    includes portfolio analyses, metrics/KPI management, digital reporting infrastructure
                </div>
            </div>
            <div class="accordion-tab">
                <input id="array1opt3" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array1opt3" class="accordion-tab-label">Understanding Customer Journeys</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
        </div>
    </div>
    <div class="content-section">
        <h2 class="serif">Get the lay of the land.</h2>
        <p>
            text
        </p>
        <div class="accordion">
            <div class="accordion-tab">
                <input id="array2opt1" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array2opt1" class="accordion-tab-label">Identifying Optimal Markets</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
            <div class="accordion-tab">
                <input id="array2opt2" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array2opt2" class="accordion-tab-label">Targeting the Competition</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
            <div class="accordion-tab">
                <input id="array2opt3" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array2opt3" class="accordion-tab-label">Highlighting Revenue Opportunities</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
            <div class="accordion-tab">
                <input id="array2opt4" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array2opt4" class="accordion-tab-label">Learning from the Source</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
        </div>
    </div>
    <div class="content-section">
        <h2 class="serif">Translate ideas into progress.</h2>
        <p>
            text
        </p>
        <div class="accordion">
            <div class="accordion-tab">
                <input id="array3opt1" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array3opt1" class="accordion-tab-label">Developing Go-to-Market Strategies</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
            <div class="accordion-tab">
                <input id="array3opt2" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array3opt2" class="accordion-tab-label">Building Strategic Alliances</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
            <div class="accordion-tab">
                <input id="array3opt3" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array3opt3" class="accordion-tab-label">Adapting to a Digital World</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
            <div class="accordion-tab">
                <input id="array3opt4" name="rd" type="checkbox" class="accordion-toggler">
                <label for="array3opt4" class="accordion-tab-label">Redesigning Organizations for Lasting
                    Changes</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
        </div>
    </div>
    <!---
    <div class="content-section">
        <h2 class="serif">another text</h2>
        <p>
            text
        </p>
        <div class="accordion">
            <div class="accordion-tab">
                <input id="arrayXopt1" name="rd" type="checkbox" class="accordion-toggler">
                <label for="arrayXopt1" class="accordion-tab-label">Innovating on Business Models</label>
                <div class="accordion-tab-content">
                    changing business models, structures, roles
                </div>
            </div>
            <div class="accordion-tab">
                <input id="arrayXopt2" name="rd" type="checkbox" class="accordion-toggler">
                <label for="arrayXopt2" class="accordion-tab-label">Cultural Transformation and Organization Purpose</label>
                <div class="accordion-tab-content">
                    aligning leadership and work cultures to a common purpose
                </div>
            </div>
            <div class="accordion-tab">
                <input id="arrayXopt3" name="rd" type="checkbox" class="accordion-toggler">
                <label for="arrayXopt3" class="accordion-tab-label">Risk Analytics</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
            <div class="accordion-tab">
                <input id="arrayXopt4" name="rd" type="checkbox" class="accordion-toggler">
                <label for="arrayXopt4" class="accordion-tab-label">Due Diligence and Vendor Due Diligence</label>
                <div class="accordion-tab-content">
                    text
                </div>
            </div>
        </div>
    </div>
    -->
</div>
<div class="tiles" id="cases">
    <div style="width:100%; padding:0 2.5%">
        <h2 class="serif">All Consulting Projects</h2>
    </div>
    {% for case in collections.cases | getRole('Strategist') %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144;background-image:url('{{ case.data.imageHero | url }}')">
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
</div>