---
layout: base.html
title: Strategist
---
<section class="slide slide1 yokoso" id="pgtop">
    <h1 class="serif" style="font-size:5em">
        K&eacute;ita the strategist transcends silos to chart new directions.
    </h1>
    <p style="font-size:1.5rem; max-width:700px">
        By&nbsp;demistifying the&nbsp;connection between regulations, innovations, and&nbsp;values,
        I&nbsp;help organizations survive and&nbsp;thrive in highly-regulated markets.
    </p>
    {% include "godown.html" %}
</section>
<div class="content" id="service">
    <div class="content-section content-sectionSticky">
        <div class="content-part">
            <h2 class="serif">title</h2>
            <p>
                text
            </p>
        </div>
    </div>
    <div class="content-section">
        <section id="insight" class="content-part content-slideThru">
            <div class="content-slideThru-text">
                <h2 class="serif">Start off on the right foot.</h2>
                <p>
                    I clarify startups' understandings of their situations, and strengthen their ideas to become ready for the real world.
                </p>
                <details class="accordion">
                    <summary class="accordion-title">Analyzing Assumptions and Stress Testing Stragegies</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion-title">Ideating and Prioritizing Ideas</summary>
                    <div class="accordion-content">
                        <p>
                            includes portfolio analyses, metrics/KPI management, digital reporting infrastructure
                        </p>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion-title">Understanding Customer Journeys</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
            </div>
        </section>
        <section id="landscape" class="content-part content-slideThru">
            <div class="content-slideThru-text">
                <h2 class="serif">Get the lay of the land.</h2>
                <p>
                    text
                </p>
                <details class="accordion">
                    <summary class="accordion-title">Identifying Optimal Markets</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion-title">Targeting the Competition</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion-title">Highlighting Revenue Opportunities</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion-title">Learning from the Source</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
            </div>
        </section>
        <section id="action" class="content-part content-slideThru">
            <div class="content-slideThru-text">
                <h2 class="serif">Translate ideas into progress.</h2>
                <p>
                    text
                </p>
                <details class="accordion">
                    <summary class="accordion-title">Developing Go-to-Market Strategies</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion-title">Building Strategic Alliances</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion-title">Adapting to a Digital World</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
                <details class="accordion">
                    <summary class="accordion-title">Redesigning Organizations for Lasting Changes</summary>
                    <div class="accordion-content">
                        <p>
                            text
                        </p>
                    </div>
                </details>
            </div>
        </section>
    </div>
</div>
<section class="tiles" id="cases">
    <div style="width:100%; padding:0 2.5%">
        <h2 class="serif">All Consulting Projects</h2>
    </div>
    {% for case in collections['Case Study'] | getRole('Strategist') | exclude %}
    <a class="tile" href="{{ case.url | url }}"
        style="background-color:#111144;background-image:url('{{ case.data.imageHero | url }}')">
        <div class="tile-overlay">
            <div class="artPrelude">{{ case.data.subject }}</div>
            <div class="artTagline">{{ case.data.title }}</div>
        </div>
    </a>
    {% endfor %}
    {% include "gotoallcases.html" %}
</section>